*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(pokemon.jpg);
   
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 40px 200px;
}
h2{
    
    font-family: 'Chicle', cursive;
	font-size: 5em;
	color: #61045f;
}
.Score{
    margin-top: 10px;
    font-size: 3em;
    font-family: 'Chicle', cursive;
}
.reset
{
    padding: 15px 20px;
    color:#04977c;
    background: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.game
{
    width: 900px;
    height: 580px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}
.item
{
    position: relative;
    width: 65px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    transform: rotateY(180deg);
    transition: 0.25s;
}
.item.boxOpen
{
    transform: rotateY(0deg);
}
.item::after
{
    content: '';
    position: absolute;
    inset: 0;
    background: -webkit-linear-gradient(to bottom, #61045f, #aa076b); 
	background: linear-gradient(to bottom, #61045f, #aa076b); 
    /*opacity: 0.85; */
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.boxOpen:after ,
.boxMatch:after
{
    transform: rotateY(180deg);
}
.exit-button {
    margin-top: 10px;
    text-decoration: none;
    background-color: #f44336; /* Red color for exit button */
    color: #fff; /* Text color */
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
  }

  .exit-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
  }